body {
  font-size: .875rem;
}
/*
 * Sidebar
 */
 .topnav{
   position: fixed;
   width: 100%;
   z-index: 999;
   top:0;
 }
.midnav{
  margin-top:50px;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  width: 230px;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.lead-margin{
  margin-left: 240px !important;
}
.content{
  margin-left: 230px !important;
}
.content-main{
  margin-left: 340px !important;
  margin-right: 100px !important;
}
.card{
  width: 300px;
  height: 200px;
  margin: 10px;
}
@media (max-width: 786px) {
  .lead-margin{
    margin-left: 20px !important;
  }
  .content{
    margin-left: 0 !important;
  }
  .content-main{
    margin-left: 10px !important;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding-left: 25px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #dc3545;
  border-left: 2.5px solid #dc3545;
}
.dropdown-item:hover{
  color: white;
  background-color: #dc3545;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.students{
  background-image: url("../pictures/student.png");
  background-size: cover;
}

.teachers{
  background-image: url("../pictures/teacher.png");
  background-size: cover;
}
.rooms{
  background-image: url("../pictures/room.png");
  background-size: cover;
}
.classes{
  background-image: url("../pictures/classes.png");
  background-size: cover;
}
.font-sm{
  font-size: 12px !important;
}
.count-text{
  font-size: 55px !important;
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px rgba(0, 0, 0, .6);
  margin: 50px 0 0 30px;
}
.students .count-text{
  color: #1e55e1;
}
.teachers .count-text{
  color: #e11eb6;
}
.classes .count-text{
  color: #1ae579;
}
.rooms .count-text{
  color: #e5df1a;
  font-size:50px !important;
}
.count-text-classes{
  font-size:40px !important;
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px rgba(0, 0, 0, .6);
  margin-bottom: 0;
  color: #1ae579;
  text-align: center;
}
.text-rooms{
  font-size: 16px !important;
  font-weight: 200 !important;
}
.dropdown-menu{
  margin-left: -8px !important;
  border: none !important;
}
#divDropdown{
  position: absolute;
  right: 0;
  margin-right: 5px;
  top: 50px;
  padding: 5px;
  width: 120px;
  background-color: white;
}
.bg-red{
  position: absolute;
  bottom:0;
  left:0;
  height: 200px;
  background-image: url("../pictures/neww.png");
  background-size: cover;
  z-index: -1;
}
.text-lg{
  font-size: 80px;
  font-weight: 500;
}
.text-md{
  font-size: 50px;
  font-weight: 500;
}
.text-maroon{
  color: maroon;
}
.send-to-front{
  z-index: 9999;
}